Based on description below generate a json of questions like the example below with tags for the topic for learners of english

{
	"tag": ["pre-intermediate","vocabulary","pos"],
	"topic": "vocabulary parts-of-speech adjective",
	"question": "Can you tell me which part of speech the word 'interested' is, given that it is used in the sentence 'She is interested in playing soccer.'?"
	"answer":
	"similar_questions":
},


{{text}}
